.home {
  margin-bottom: 40px;
}

.banner-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  background: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin: 0 0 20px;
}

.banner-home img {
  height: 223px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.home .banner-home h1 {
  position: absolute;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 0 16px;
}

@media (min-width: 1250px) {
 

  .home .banner-home {
    justify-content: center;
    font-size: 48px;
    border-radius: 25px;
    margin: 0 0 40px;
  }

  .home .banner-home img {
    height: 225px;
  }

  .home .banner-home h1 {
    margin: 0;
  }
}
@media (max-width: 500px) {
  .banner-home img {
    height: 225px;
  }
  .home .banner-home h1 {
    font-size: 24px;
    width: 217px;
    height: 48px;
    line-height: 24px;
    left: 16px;
}
}