.dropdowns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 10%;
}

.dropdown[open] {
  background: #f6f6f6;
}

.dropdown-container  > div {
  padding: 15px 10px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}

.dropdown-container summary svg {
  height: 9px;
  width: auto;
}

.dropdown-container {
  width: 100%;
  border-radius: 5px;
  color: #ff6060;
}

.dropdown-container summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 30px;
  border-radius: 5px;
  background: #ff6060;
  padding: 0 7px 0 10px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.dropdown-container[open] summary svg {
  transform: rotate(180deg);
}

@media (min-width: 1250px) {
  .dropdown {
    border-radius: 10px;
  }

  .dropdown > div {
    padding: 20px;
    font-size: 18px;
    line-height: 34px;
  }

  .dropdown summary {
    height: 52px;
    border-radius: 10px;
    padding: 0 12px 0 20px;
    font-size: 18px;
  }

  .dropdown summary svg {
    height: 16px;
  }

  .dropdown-container {
    width: 1024px;
    font-size: 24px;
  }

  .dropdown-container > div {
    font-size: 24px;
  }

  .dropdown-container summary {
    height: 47px;
    font-size: 24px;
  }
}

@media (min-width: 1400px) {
  .dropdown {
    width: 582px;
    border-radius: 10px;
  }
}
  .dropdownContainer {
    max-width: 1023px;
    margin: auto;
}

@media (max-width: 500px) {
  .dropdown-container > div {
  font-size: 12px;
  }
}