header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 16px;
  align-items: center;
}
header img {
  height: 68px;
  width: 210px;
}

header nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 24px;
  color: #ff6060;
  text-transform: uppercase;
}

header nav a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: inherit;
  margin-left: 10px;
  text-decoration: none;
  padding: 15px;
}

a.active {
  text-decoration: 2px underline;
}

@media (min-width: 992) {
  header nav {
    font-size: 24px;
    text-transform: unset;
  }

  header nav a {
    margin-left: 57px;
  }
}
@media (max-width: 500px) {
  header img {
    width: 145px;
    height: 47px;
  }
  header nav {
    font-size: 12px;
  }
  header nav a {
    padding: 0;
  }
}
